
# Devenv
__pycache__
priv/python/librus-apix
venv/
.env
.devenv*
devenv.local.nix
/_build/
/deps/
/doc/
/node_modules/
/tmp/
/cover/

priv/static/assets
priv/static/images
/assets/node_modules/

/installer/_build/
/installer/assets/
/installer/deps/
/installer/doc/
/installer/phx_new-*.ez

/integration_test/_build/
/integration_test/deps/

erl_crash.dump
phoenix-*.ez
# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# private firebase
service-account.json
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
