<.live_component
  module={LoginModal}
  id="login_modal"
  login_required={@login_required}
  return_url="/student/scheduling/timetable"
/>
<div phx-hook="retrieve_local_storage" name="semester" id="retrieve_semester"></div>
