@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  color-scheme: dark;
}
.circle {
  width: 160px;
  height: 160px;
  cursor: default;
  transform: rotate(180deg);
}
.circle:before {
  position: absolute;
  content: "";
  background-color: transparent;
  border: 20px solid rgb(192 38 211);
  background: transparent;
  border-radius: 100%;
}
.circle .percentage-bar {
  width: 160px;
  height: 160px;
  position: absolute;
          clip-path: inset(0 0 0 45%);
}
.circle .percentage-bar:before {
  position: absolute;
  content: "";
  -webkit-clip-path: inset(0 50% 0 0);
  clip-path: inset(0 50% 0 0);
  border: 20px solid rgb(74 4 78);
  border-radius: 100%;

}
.circle:before {
  width: 139px;
  height: 139px;
  border-width: 16px;
}
.circle .percentage-bar:before, .circle .percentage-bar:after {
  width: 140px;
  height: 140px;
  border-width: 18px;
  transform: rotate(0deg);
  transition-duration: 750ms;
}
.circle.percentage .percentage-bar:before {
  transform: rotate(var(--progress-value));
}
.percentage-bar:after {
  transform: rotate(var(--progress-value));
}
/* This file is for your main application CSS */
